[submodule "EnterpriseEngine/vendor/spdlog"]
	path = EnterpriseEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EnterpriseEngine/vendor/imgui"]
	path = EnterpriseEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
