[submodule "EnterpriseEngine/vendor/spdlog"]
	path = EnterpriseEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EnterpriseEngine/vendor/imgui"]
	path = EnterpriseEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "EnterpriseEngine/vendor/DirectX-Headers"]
	path = EnterpriseEngine/vendor/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
